---
import style from "./demoCard.module.css"

interface Props {
  url: string,
  videoMp4: string,
  videoWebm: string,
  title: string,
  tags: string[],
  alt: string
}

const {url = "", videoMp4 = "",videoWebm = "", title = "Default title", tags = [],} = Astro.props as Props;
---

<div class={style.containerProject}>
  <a href={url} target="_blank">
    <video
    id="videoPlay"
      class={style.videoPlay}
      muted
      loop
      src={videoWebm}
    >
      <source src={videoMp4} type="video/mp4">
      Tu navegador no soporta la reproducción de videos MP4 y Webm, actualiza tu navegador.
    </video>
  </a>
  <div class={style.containerInfo}>
    <h5>{title}</h5>
    <ul>
      {tags.map((tag) => (
        <li>{tag}</li>
      ))}
    </ul>
  </div>
</div>

<script>
  const $videoContainers = document.querySelectorAll('#videoPlay');

  $videoContainers.forEach($videoContainer => {
    $videoContainer.addEventListener('mouseover', handlerHoverOverVideo);
    $videoContainer.addEventListener('mouseleave', handlerHoverLeaveVideo);
  });

  function handlerHoverOverVideo(event) {
    event.target.play();
  }

  function handlerHoverLeaveVideo(event) {
    event.target.pause();
  }
</script>
